<div class="small-10 medium-9 full-height columns">
	<div class="top-bar">
		<div class="top-bar-title">
			<p class="title">Sales Panel</p>
		</div>
		<div class="top-bar-right">
			<ul class="dropdown menu" data-dropdown-menu>
				<li><img src="assets/img/user.png" alt="user image" /></li>
				<li>Juan Pablo De La Torre
					<ul class="dropdown menu" data-dropdown-menu>
						<li><a href="#">Edit Profile</a></li>
						<li><a href="#">Logout</a></li>
			</ul>
		</div>
	</div><!-- END .top-bar -->

	<div class="dashboard full-height">
		<div class="row full-height">
			<h1>Dashboard</h1>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>
			<p>Bite the neighbor's bratty kid meowzer check cat door for ambush 10 times before coming in. Dream about hunting birds. Pee on walls it smells like breakfast lick arm hair and playing with balls of wool yet put butt in owner's face.</p>


		</div>
	</div>

</div>