<div class="small-2 medium-3 columns" data-sticky-container>
	<aside class="sticky" data-sticky style="width: 100%;">
		<p class="text-center title">Navigation</p>

		<ul class="menu vertical" data-accordion-menu>
			<li>
				<a href="#"><i class="fi-home"></i> <span>Home</span></a>
				<ul class="menu vertical nested">
					<li><a href="#"><i class="fi-wrench"></i> <span>Tools</span></a></li>
					<li><a href="#"><i class="fi-torso"></i> <span>User</span></a></li>
				</ul>
			</li>
		</ul>
	</aside>
</div>